<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" href="#">Admin Console</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" routerLink="" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact : true}">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['warehouse']" routerLinkActive="active">Warehouse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['login']" routerLinkActive="active">Login</a>
      </li>
    </ul>
  </div>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
</nav>
