<div class="slider-section">

  <div class="slider-container">
    <div class="img-container" *ngFor="let i of sliderArray; let select = index;"
         [ngClass]="{'selected': select == selectedIndex}">
      <img src="{{i.imageLocation}}" alt="{{i.alt}}">
    </div>

    <div class="text-container">
      <div class="page-text" *ngFor="let i of sliderArray;let select = index;"
           [ngClass]="{'selected': select == selectedIndex}">
        <h2 [innerHtml]="i.title | colorBee:'*'"></h2>
        <h3> {{i.description}}</h3>
      </div>
      <div class="shop-button">
        <div class="bee-shop-button"> <a routerLink="/shop">Shop now</a></div>
      </div>
    </div>
    <div class="slider">
      <div class="slide-button-parent-container" *ngFor="let i of sliderArray; let x =index" (click)="selected(x)"
           (keypress)="keySelected(x)">
        <div class="select-box">
          <div class="slide-button" [ngClass]="{'slide-button-select': x == selectedIndex}">
          </div>
        </div>
      </div>
    </div>

  </div>


</div>


<div class="about-us-section">
  <div class="container">
    <div class="row">
      <h3 class="title">
        Ce facem
      </h3>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let about of aboutUsArray">
        <div class="image-container">
          <img [alt]="about.alt" [src]="about.imgLocation"/>
        </div>
        <div class="subtitle">
          <h4> {{about.subtitle}} </h4>
        </div>
        <div class="text-container">
          {{about.text}}
        </div>
      </div>
    </div>

  </div>
  <div class="banner">
    <div class="container">
      <div class="title">
        <h3>{{aboutUsBanner.title}}</h3>
      </div>
      <div class="subtitle">
        <h5>{{aboutUsBanner.subtitle}}</h5>
      </div>
      <div class="shop-button">
        <div class="bee-shop-button"><a routerLink="/shop">Shop now</a></div>
      </div>
    </div>
  </div>
</div>
