.page-not-found{
    padding-top:100px;
    color: #f8b742;
    margin-top: 0;
    margin-bottom: 1.63em;
    font-family: "Sansita One", cursive;
    line-height: 1.01em;
    padding-bottom:100px;
}
.page-not-found h3{
    font-family: "Sansita One", cursive;
    font-size: 2.857em;

}

.page-not-found h5{
    text-transform: none;
}